<%= stylesheet_pack_tag 'Home' %>
<script type="text/javascript">
  window.intro_png = <%=raw asset_path('intro.png').to_json %>;
  window.intro_nodec_png = <%=raw asset_path('intro_nodec.png').to_json %>;
  window.intro_rubyc_png = <%=raw asset_path('intro_rubyc.png').to_json %>;
</script>
<div id="welcome_index"></div>
<%= javascript_pack_tag 'Home' %>
