<!DOCTYPE html>
<html>
  <head>
    <title>Enclose.IO - Compiling your application into a single executable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'Home' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>

  <body>
    <div id="sidebar">
    </div>
    <%= javascript_pack_tag 'application' %>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
